name: Learing GitHub Actions
run-name:  Getting into GH Action WorkFLow
on: [push]
jobs:
  hola-mundo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Definir variable
        run: echo "USERNAME=${{ github.actor }}" >> $GITHUB_ENV
      - name: run script
        run: python sayHello.py
        
        
