# .github/workflows/expressions.yml
name:   issues-checker
run-name :  check issues
on:
  issues:
    types: [opened]

jobs:
  # Job A: Para inspeccionar el contexto con toJSON()
  inspeccionar_contexto:
    name: Imprimir Contexto GitHub (toJSON)
    runs-on: ubuntu-latest
    
    steps:
      - name: Volcar el contexto 'github' completo
        run: |
          echo "Contexto GitHub Completo:"
          echo '${{ toJSON(github) }}'

  # Job B: El job de prueba original (sin cambios, solo se ejecuta si el issue contiene 'bug')
  evaluar_expresiones:
    name: Testeando Expresiones y Funciones
    runs-on: ubuntu-latest
    
    # Condición de ejemplo usando la función 'contains()'
    if: contains(github.event.issue.body, 'bug')

    steps:
      - name: Paso 1: Mostrar Expresión del Cuerpo de la Issue
        run: |
          echo "Cuerpo de la Issue que disparó el job:"
          echo "${{ github.event.issue.body }}"

      - name: Paso 2: Evaluar la Referencia
        if: startsWith(github.ref, 'refs/heads/')
        run: |
          echo "El disparador proviene de una rama de trabajo."
          echo "Referencia Completa (github.ref): ${{ github.ref }}"

      - name: Paso 3: Mostrar Expresión del Repositorio
        run: |
          echo "El job se está ejecutando en el repositorio:"
          echo "${{ github.repository }}"
          
